@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --primary-color: #b6e7e5;
    --secondary-color: #3c3c3c;
    --hover-accent-color: #4fa6a1;
    --White-color: #fff;
    --Black-color: #111;
    --Headline-font: "Poppins", sans-serif;
    --Para-font: "Inter", sans-serif;
    --transition: all 0.3s ease-in;
    --card-radius: 15px;
    --btn-radius: 5px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    width: 100%;
}

header {
    padding: 10px 40px;
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header img {
    width: 80px;
}

#load-more{
    display: block;
    margin: auto;
}

#load-more,
header button{
    font-size: 1rem;
    font-family: var(--Para-font);
    font-weight: 600;
    color:var(--Black-color);
    background-color: transparent;
    border: 2px solid var(--Black-color);
    padding: 10px 20px;
    border-radius: var(--btn-radius);
    transition: var(--transition);
    cursor: pointer;
}

#load-more:hover,
header button:hover{
    background: var(--Black-color);
    color: var(--primary-color);
    transition: var(--transition);
}
.center-text{
    padding: 40px;
}
.center-text h1{
    font-size: 2.5rem;
    color: var(--Black-color);
    font-weight: 600;
    font-family: var(--Headline-font);
    text-align: center;
}
.center-text p{
    font-size: 1rem;
    font-weight: 400;
    font-family: var(--Para-font);
    color: var(--secondary-color);
    text-align: center;
    margin: auto;
    width: 65%;
    line-height: 1.5;
}
.card-container{
    padding: 40px 40px 20px 40px;
    display: flex;
    width: 95%;
    margin: auto;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    padding-bottom: 80px;
}
.card{
    width: 49%;
    background-color: var(--primary-color);
    padding: 20px 20px 40px 20px;
    border-radius: var(--card-radius);
    transition: var(--transition);
    cursor: pointer;
    height: 600px;
}
.card:hover *{
    color: var(--White-color);
    transition: var(--transition);
}
.card:hover{
    transition: var(--transition);
    background-color: var(--hover-accent-color);
    transform: translateY(-10px);
}
.card img{
    height: 300px;
    width: 100%;
    object-fit: cover;
    /* object-position: top; */
    border-radius: var(--card-radius);
    padding-bottom: 10px;
}
.card h1{
    font-size: 1.5rem;
    font-weight: 600;
    padding-bottom: 5px;
    font-family: var(--Headline-font);
}
.card p{
    font-size: 0.9rem;
    font-weight: 400;
    font-family: var(--Para-font);
    color: var(--Black-color);
    line-height: 1.5;
    padding-bottom: 40px;
}
.card a{
    text-decoration: none;
    color: var(--Black-color);
    padding: 10px 20px;
    font-size: 1rem;
    font-family: var(--Headline-font);
    font-weight: 600;
    border: 2px solid var(--Black-color);
    margin-bottom: auto;
    transition: var(--transition);
}

.card a:hover{
    background-color: var(--Black-color);
    color: var(--primary-color);
    transition: var(--transition);
}

@media screen  and (max-width: 600px){
    header{
        padding: 10px 15px;
    }
    header img{
        width: 60px;
    }
    header button{
        font-size: 15px;
    }
    .card-container{
        padding: 10px 10px;
        width: 100%;
    }
    .card{
        width: 100%;
        height: auto;
    }
    .card img{
        height: 200px;
    }
    .center-text{
        padding: 40px 10px;
    }
    .center-text h1{
        font-size: 28px;
    }
    .center-text p{
        font-size: 16px;
        width: 100%;
    }
}